<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Hiro.Containers" publicKeyToken="f0efb83db47c0105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.29326" newVersion="1.0.2.29326" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>